@charset "UTF-8";

/* 초기화 */
header, section, footer, aside , nav, article, figure, figcaption{
	display: block;
}

a {
	color : #de6581;
	text-decoration : none;
}

h1, h2, h3 { font-weight: normal; }

h {
	margin: 10px 0px 5px 0px;
	padding : 0px;
}
body {
	color: #666666;
	/* 웹페이지 밖의 배경*/
	background: #f9f8f6 url("../image/dark-wood.jpg") center;
	font-family: Georgia, Times, serif;
	line-height: 104em;
	margin: 0px;
}

.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}

header {
	height: 160px;
	background-image: url("../image/header.jpg");
}

h1 {
	padding : 0px;
	visibility:hidden;
	width:940px;
	height:130px;
	margin:0px;
}

nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #aeaca8;
	height: 30px;
}

nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}

nav li{
	display: inline;
	margin-right: 40px;
}

nav li a:hover, nav li a.current{color: #000000;}

